<div class=" mt-40 sm:w-2/6 p-8 mx-auto   shadow-lg rounded-md" >
  <div>
    <h1 class="text-center text-sm font-semibold">Enter the Registered email id To reset your password</h1>
  </div>

  <div>
    <form class=" p-5" [formGroup]="forgetPasswordForm">
      <div class="flex flex-col mb-4 py-2">
        <input type="text" formControlName="email" placeholder="Email" class="border rounded-md p-2">
        <span class="text-red-500" *ngIf="forgetPasswordForm.controls['email'].dirty && forgetPasswordForm.hasError('required','email') "> *Email is required</span>
        <span class="text-red-500" *ngIf="forgetPasswordForm.controls['email'].dirty && forgetPasswordForm.hasError('email','email') "> *Enter valid Email Address</span>
      </div>



      <div class="flex mb-4 justify-center">
        <button class=" bg-gray-700 p-2 text-white rounded w-full" [disabled]="forgetPasswordForm.invalid" [class.disabled]='forgetPasswordForm.invalid' (click)="onSubmit()" >Sumbit</button>
      </div>

      <div class=" flex justify-end font-semibold text-center mt-6 text-gray-600">
        <a routerLink="/login" class="text-black cursor-pointer hover:underline">Login</a>
       </div>
    </form>


  </div>

</div>
